{% extends "base.html" %}

{% block title %} Quality Evaluator {% endblock %}
{% block head %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% if data %}
<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
			{% for key, value in data.items() %}
				{% if value is string %}
					['{{ key }}', '{{ value }}'],
				{% else %}
					['{{ key }}', {{ value }}],
				{% endif %}
			{% endfor %}
        ]);

        var options = {
          title: 'Percentage Wikipedia pages used for evaluation',
          is3D: true,
            /*legend:{
              position: 'labeled',
            },*/
            //sliceVisibilityThreshold: 0,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
 </script>
{% endif %}
{% if chart %}
<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
			{% for key, value in chart.items() %}
				{% if value is string %}
					['{{ key }}', '{{ value }}'],
				{% else %}
					['{{ key }}', {{ value }}],
				{% endif %}
			{% endfor %}
        ]);

        var options = {
          title: 'Percentage of correct and wrong recognitions',
          is3D: true,
            legend:{
              position: 'labeled',
            },
            sliceVisibilityThreshold: 0,
            slices : {1: {offset: 0.2} }
        };

        var p_chart = new google.visualization.PieChart(document.getElementById('correct_wrong_chart_3d'));
        p_chart.draw(data, options);
      }
 </script>
{% endif %}
{% endblock %}
{% block content %}
    <div class="container-fluid mh-100">
            <div class="form-row text-center">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-center" style="margin-bottom: 5%">
                    {%  if message %}
                        <div class="alert alert-danger" role="alert">
                         {{ message }}
                        </div>
                    {% endif %}
                    <form action="/quality" method="POST" enctype="multipart/form-data">
                        {{ evaluate_form.pages_num.label }}
                        {{ evaluate_form.pages_num(class="form-control text-center", placeholder="Insert Number", type="number", max="999", min="1") }}
                        <br>
                        <div class="custom-file">
                            {{ evaluate_form.file(class="custom-file-input", accept=".csv") }}
                            {{ evaluate_form.file.label(class="custom-file-label") }}
                        </div>
                        <br><br>
                        {{ evaluate_form.submit(class="btn btn-primary mb-2") }}
                        <br>
                    </form>

                    {% if pages_num %}
                    <p>
                    Number of Pages actually used: <span class="badge badge-success" style="background-color: #28a745;">{{ pages_num }}</span>
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-6 text-center">
                    <div id="piechart_3d" style="width: 900px; height: 500px; margin-left: -100px"></div>
                    <div id="correct_wrong_chart_3d" style="width: 900px; height: 500px; margin-left: -100px"></div>
                </div>
                <div class="col-lg-6 text-center" style="border-left-style: solid; border-left-width: 1px; border-left-color: #c0c0c0">
                    {% if sensitivity %}
                        Sensitivity
                        <div class="progress" height="2px">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{sensitivity}}%" aria-valuenow="{{ sensitivity }}" aria-valuemin="0" aria-valuemax="100">{{sensitivity}}%</div>
                        </div>
                        <br><br>
                    {% endif %}
                    {% if specificity %}
                        Specificity
                        <div class="progress" height="2px">
                            <div class="progress-bar" role="progressbar" style="background-color: #007bff; width: {{specificity}}%" aria-valuenow="{{ sensibility }}" aria-valuemin="0" aria-valuemax="100">{{specificity}}%</div>
                        </div>
                        <br><br>
                        <hr>
                        <br><br>
                    {% endif %}
                    {% if confusion_matrix %}
                        {{ confusion_matrix }}
                    {% endif %}
                </div>
            </div>
    </div>
<style>
 table.my-table tr td:first-child {
     background-color: #b8daff;
     font-weight: bold;
 }
</style>
<script>
    document.querySelector('.custom-file-input').addEventListener('change',function(e){
          var fileName = document.getElementById("file").files[0].name;
          var nextSibling = e.target.nextElementSibling;
          nextSibling.innerText = fileName;
    })
</script>
{% endblock %}
